<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% include 'src/views/partials/nav.njk' %}
        <div class="container"> {% block content %}{% endblock %}
            </div>
            <button type="button" class="btn btn-primary">Primary</button>
            <h1>herobrine is the toughest character of all time</h1>
            <img src="https://i.pinimg.com/474x/fd/a2/cf/fda2cf3e77d27da8df62ea99baf8cf6c.jpg">
        </body>
    </html>