<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about.html">About us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts.html">Contact</a>
    </li>
</ul>